/*
 * CSS for memoryTask.
 */

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.threeColumn {
  float: left;
  width: 33%;
}

.twoColumn {
  float: left;
  width: 50%;
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}